@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

body {
    background-color: #ddd1c6 !important;
}

.App {
    max-width: 80% !important;
}

.customCarousel {
    max-width: 900px !important;
    max-height: 600px !important;
    width: 100% !important;
    height: auto !important;
}

.car-item {
    width: 100% !important;
    height: auto !important;
}

.car-item > img {
    width: 100%;
    height: 100%;
}

.car-pagination > .active {
    background-color: #cd8c52 !important;
    color: #cd8c52 !important;
}

.car-pagination > div {
    cursor: pointer;
    background-color: #fff !important;
    width: 3px;
    height: 75px;
    color: white;
    margin: 5px 0px;
}

.container-posts, .container-users {
    margin: 4px 4px;
    padding: 4px;
    background-color: white;
    max-width: 100%;
    width: auto;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
    margin: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c6c1c1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.container-posts > .post, .container-users > .user {
    background-color: #F4F4F4;
    border-radius: 15px;
}

.page-view {
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 20px;
}

.page-view > p {
    cursor: pointer;
    padding: 0px 6px !important;
    margin: 2px 0px !important;
}

.page-view > .active {
    border-bottom: 1px solid #cd8c52;
}

.post-body, .post-footer, .container-users > .user {
    padding: 7px !important;
}

/*.container-posts > .post:hover, .container-users > .user:hover{
    cursor: pointer;
    background-color: #c4c4c4 !important;
}*/

.post .img {
    min-width: 200px !important;
    min-height: 150px !important;
}

.post .more > svg {
    cursor: pointer;
}

.post:hover, .container-users > .user:hover {
    box-shadow: 0px 2px 2px 2px #c4c4c488;
}

.post .post-title > h1, .container-users > .user {
    cursor: pointer;
}

.post .img > img {
    width: 100%;
    height: 100%;
}

.avatar-thumb {
    max-width: 100px !important;
    max-height: 100px !important;
    min-width: 100px !important;
    min-height: 100px !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 100% !important;
}

.back, .next {
    background-color: white;
    cursor: pointer;
}

.form-inp > input, input[class~="form-inp"] {
    background-color: #e9e9e9 !important;
}

.form-inp:focus {
    background-color: white !important;
}

.rounded-20 {
    border-radius: 20px !important;
}

.hv-100 {
    height: 100vh !important;
}

.bg-login-signup {
    background-color: #f4f4f4 !important;
}

.login-signup {
    width: 500px;
    height: 500px;
}

.form-login-signup {
    padding: 80px !important;
}

.btn-orange {
    background-color: #cd8c52 !important;
    border: #000 1px solid !important;
    color: #212529 !important;
}

.btn-orange:hover {
    background-color: #cd8c52 !important;
    color: #212529 !important;
}

.btn-orange:focus, .btn-orange:active {
    border: #cd8c52 1px solid !important;
    box-shadow: 0 0 0 0.2rem #cd8c52 !important;
}

.btn-outline-orange {
    background-color: inherit !important;
    border: #cd8c52 1px solid !important;
    color: #212529 !important;
}

.btn-outline-orange:hover {
    background-color: #cd8c52 !important;
    color: #212529 !important;
}

.btn-outline-orange:focus, .btn-outline-orange:active {
    border: #cd8c52 1px solid !important;
    box-shadow: 0 0 0 0.2rem #cd8c52 !important;
}

.btn.more {
    background-color: inherit !important;
    width: auto;
    color: #212529 !important;
    box-shadow: 1px 0px 2px 1px #cd8c5255;
}

.btn.more:hover {
    box-shadow: 3px 0px 3px 3px #cd8c5222;
}

.btn.more:hover > svg {
    transform: translateX(5px) !important;
}

.btn.more:focus, .btn.more:active {
    box-shadow: 1px 0px 2px 1px #cd8c52;
}

.btn-enter {
    background-color: #f4f4f4 !important;
    border: #000 1px solid !important;
    color: #212529 !important;
}

.menu-items > a > div, .menu-items > div {
    border-width: 1.5px 3px !important;
    border-style: solid !important;
    border-color: white !important;
}

.menu-items .logo > img, .menu-items > a > div {
    width: 100% !important;
    height: 3.5rem !important;
}

.menu-items > a > div > svg {
    margin: 0 .5rem !important;
}

.menu-items > a > div:hover {
    cursor: pointer;
    background-color: #ddd1c6 !important;
}

.bg-menu {
    background-color: #573725;
}

.menu, .menu button, .menu a {
    font-family: 'Buda', cursive;
    color: #ddd1c6 !important;
    font-size: 24px;
}

.menu-item:hover {
    background-color: #745442;
}

.full-menu-state {
    cursor: pointer;
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    z-index: -1;
}

.hidden-full-menu-state {
    cursor: pointer;
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    z-index: -1;
}

.hide-menu {
    top: 2rem;
    left: 90%;
}

.show-menu {
    left: 70%;
}

.full-menu-state:hover {
    background-color: #eee !important;
}

.full-menu-state > svg, .hidden-full-menu-state > svg {
    margin: 0px;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 70%;

    transform: translate(-50%, -50%);
}

.circle {
    border-radius: 50%;
}

.full-menu {
    width: 16rem;
}

.short-menu {
    height: 100%;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.short-active-menu {
    background-color: #cd8c52;
}

.active-menu {
    border-bottom: 1px solid white;
}

.w-sm-75 {
    width: 90% !important;
}

@media only screen and (max-width: 1200px) {
    .posts {
        flex: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .post-footer>div{
        text-align: center;
        margin: 0px auto !important;
        width: 100% !important;
    }

    .more .btn {
        /*box-shadow: 3px 0px 3px 3px #cd8c5222;*/
    }
}

@media only screen and (max-width: 600px) {
    .customCarousel {
        max-width: 450px !important;
        max-height: 300px !important;
        width: 100% !important;
        height: auto !important;
    }

    .short-menu {
        height: 4rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow-scrolling: auto;
    }

    .menu-items > a > div, .menu-items > div {
        border-width: 1px;
        border-style: solid;
        border-color: white;
    }

    .menu-items > a > div svg {
        margin: .3rem .7rem;
        width: 25px;
    }

    .menu-items {
        display: flex;
        flex-direction: row;
        width: 100% !important;
        height: 100% !important;
        justify-content: center;
    }

    .menu-items .logo {
        width: 18% !important;
        height: 100% !important;
    }

    .menu-items .logo > img, .menu-items > a > div {
        width: 100% !important;
        height: 100% !important;
    }

    .show-menu {
        top: -30%;
        left: 45%;
        transform: rotate(-90deg);
    }

    .form-login-signup {
        padding: 20px !important;
    }

    .container-posts, .container-users {
        height: 80vh;
    }

    .avatar-thumb {
        max-width: 50px !important;
        max-height: 50px !important;
        min-width: 50px !important;
        min-height: 50px !important;
        width: 100% !important;
        height: 100% !important;
        border-radius: 100% !important;
    }

    .post h1, .user h6{
        font-size: 1rem !important;
    }

    .post p, .user p {
        font-size: .7rem !important;
    }

    .date > pre, .user pre {
        text-align: center;
    }

    .more .btn{
        width: 100% !important;
    }
}

