@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

/* ---------------------------------GLOBAL--------------------------------- */

body {
    background-color: #ddd1c6 !important;
}

.App {
    max-width: 90% !important;
}

.MuiTouchRipple-root{
    background-color: white;
    z-index: -1 !important;
}

.MuiPaginationItem-page.Mui-selected, .MuiPaginationItem-page.Mui-selected:hover {
    box-shadow: 0px 2px 0px 1px #ada49b !important;
}

.MuiPaginationItem-page:hover, .MuiPaginationItem-page.Mui-selected{
    background-color: #f4f4f4 !important;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
    margin: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c6c1c1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #555555 !important;
}

.rounded-20 {
    border-radius: 20px !important;
}

.hv-100 {
    height: 100vh !important;
}

.btn-orange {
    background-color: #cd8c52 !important;
    border: #000 1px solid !important;
    color: #212529 !important;
}

.btn-orange:hover {
    background-color: #cd8c52 !important;
    color: #212529 !important;
}

.btn-orange:focus, .btn-orange:active {
    border: #cd8c52 1px solid !important;
    box-shadow: 0 0 0 0.2rem #cd8c52 !important;
}

.btn-outline-orange {
    background-color: inherit !important;
    border: #cd8c52 1px solid !important;
    color: #212529 !important;
}

.btn-outline-orange:hover {
    background-color: #cd8c52 !important;
    color: #212529 !important;
}

.btn-outline-orange:focus, .btn-outline-orange:active {
    border: #cd8c52 1px solid !important;
    box-shadow: 0 0 0 0.2rem #cd8c52 !important;
}

.w-sm-75 {
    width: 90% !important;
}

.circle {
    border-radius: 50%;
}

/* ---------------------------------HOME(GUEST)--------------------------------- */

.customCarousel {
    max-width: 900px !important;
    max-height: 600px !important;
    width: 100% !important;
    height: auto !important;
}

.customCarousel-item {
    width: 100% !important;
    height: auto !important;
}

.customCarousel-item > img {
    width: 100%;
    height: 100%;
}

.customCarousel-pagination > .active {
    background-color: #cd8c52 !important;
    color: #cd8c52 !important;
}

.customCarousel-pagination > div {
    cursor: pointer;
    background-color: #fff !important;
    width: 3px;
    height: 75px;
    color: white;
    margin: 5px 0px;
}

.back, .next {
    background-color: white;
    cursor: pointer;
}

/* ---------------------------------AUTHORS--------------------------------- */

.posts {
    width: 100% !important;
    max-width: 100% !important;
}

.container-posts, .container-users, .comments-body {
    margin: 4px 4px;
    padding: 4px;
    background-color: white;
    max-width: 100%;
    width: auto;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.container-posts > .post, .container-users > .user, .comment-body {
    background-color: #F4F4F4;
    border-radius: 15px;
}

.page-view {
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 20px;
}

.page-view > p {
    cursor: pointer;
    padding: 0px 6px !important;
    margin: 2px 0px !important;
}

.page-view > .active {
    border-bottom: 1px solid #cd8c52;
}

.post-body, .post-footer, .container-users > .user {
    padding: 7px !important;
}

.post-description{
    font-size: .8rem;
}

.post .more > svg {
    cursor: pointer;
}

.post:hover, .container-users > .user:hover {
    box-shadow: 0px 2px 2px 2px #c4c4c488;
}

.post .post-title > h1, .container-users > .user {
    cursor: pointer;
}

.post .img {
    min-width: 200px !important;
    max-height: 200px !important;
}

.post .img > img {
    width: 100%;
    height: 100%;
}

.avatar-thumb, .comment-author-avatar{
    max-width: 100px !important;
    max-height: 100px !important;
    min-width: 100px !important;
    min-height: 100px !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 100% !important;
}

.btn.more {
    background-color: inherit !important;
    width: auto;
    color: #212529 !important;
    box-shadow: 1px 0px 2px 1px #cd8c5255;
}

.btn.more:hover {
    box-shadow: 3px 0px 3px 3px #cd8c5222;
}

.btn.more:hover > svg {
    transform: translateX(5px) !important;
}

.btn.more:focus, .btn.more:active {
    box-shadow: 1px 0px 2px 1px #cd8c52;
}

/* ---------------------------------PROFILE--------------------------------- */

.user-info-avatar, .user-info-avatar > img, .comment-author-avatar{
    width: 250px;
    height: 250px;
}

/* ---------------------------------DETAILS ABOUT POST--------------------------------- */

.comment-dislike, .comment-like, .postRatingIcons-container{
    cursor: pointer;
}

.comment-dislike:hover > svg, .postRatingIcons-container > .icon-postRatingDown:hover{
    stroke: red;
}

.comment-like:hover > svg, .postRatingIcons-container > .icon-postRatingUp:hover{
    stroke: green;
}

.icon-send > svg{
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.icon-send > svg:hover {
    color: blue;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

/* ---------------------------------SETTING--------------------------------- */


/* ---------------------------------LOGIN|SIGNUP--------------------------------- */

.form-inp > input, input[class~="form-inp"] {
    background-color: #e9e9e9 !important;
}

.form-inp:focus {
    background-color: white !important;
}

.bg-login-signup {
    background-color: #f4f4f4 !important;
}

.login-signup {
    width: 500px;
    height: 500px;
}

.form-login-signup {
    padding: 80px !important;
}

.btn-enter {
    background-color: #f4f4f4 !important;
    border: #000 1px solid !important;
    color: #212529 !important;
}

/* ---------------------------------MENU--------------------------------- */

.menu-items > a > div, .menu-items > div {
    border-width: 1.5px 3px !important;
    border-style: solid !important;
    border-color: white !important;
}

.menu-items .logo > img, .menu-items > a > div {
    width: 100% !important;
    height: 3.5rem !important;
}

.menu-items > a > div > svg {
    margin: 0 .5rem !important;
}

.menu-items > a > div:hover {
    cursor: pointer;
    background-color: #ddd1c6 !important;
}

.bg-menu {
    background-color: #573725;
}

.menu, .menu button, .menu a {
    font-family: 'Buda', cursive;
    color: #ddd1c6 !important;
    font-size: 24px;
}

.menu-item:hover {
    background-color: #745442;
}

.full-menu-state {
    cursor: pointer;
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    z-index: -1;
}

.hidden-full-menu-state {
    cursor: pointer;
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    z-index: -1;
}

.hide-menu {
    top: 2rem;
    left: 90%;
}

.show-menu {
    left: 70%;
}

.full-menu-state:hover {
    background-color: #eee !important;
}

.full-menu-state > svg, .hidden-full-menu-state > svg {
    margin: 0px;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 70%;

    transform: translate(-50%, -50%);
}

.full-menu {
    width: 16rem;
}

.short-menu {
    height: 100%;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.short-active-menu {
    background-color: #cd8c52;
}

.active-menu {
    border-bottom: 1px solid white;
}